/* inside element layout */
.p-0 {
    padding: 0;
}
.p-xs {
    padding: 0.125rem;
}
.p-sm {
    padding: 0.25em;
}
.p-md {
    padding: 0.5rem;
}
.px-md {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.py-s {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.py-md {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}

/* inter element layout */
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.gap-sm {
    gap: 0.25rem;
}
.gap-md {
    gap: 0.5rem;
}

/* element layout */
.w-10px {
    width: 10px;
}
.w-50px {
    width: 50px;
}
.w-100px {
    width: 100px;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.h-10px {
    height: 10px;
}

/* outside element layout */
.m-xs {
    margin: 0.125rem;
}