.txt-white {
    color: white;
}
.txt-mildblue {
    color: #477eed;
}
.txt-center {
    text-align: center;
}
.txt-sm {
    font-size: 0.75rem;
}
.txt-md {
    font-size: 1rem;
}
.txt-lg {
    font-size: 1.25rem;
}
.txt-xl {
    font-size: 1.5rem;
}
.txt-bold {
    font-weight: bold;
}