@{
    ViewBag.Title = "Home Page";
}

<main>
    <erp-body>
        <erp-banner></erp-banner>
        <nav-bar></nav-bar>
        <menu-title>품목 조회</menu-title>
        <item-dashboard></item-dashboard>
    </erp-body>
</main>