<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/common.css" />
        <title>1차 프로젝트 대비 과제</title>
    </head>
    <body>
        <div class="basic-title">■ 품목등록</div>
        <form class="filter-box" onsubmit="return onSubmit()" id="item-update-form">
            <div>
                <div class="filter-item">
                    <div class="flex-box">
                        <label class="w-100px">품목코드</label>
                        <input placeholder="품목코드" name="item-code" disabled />
                    </div>
                </div>
                <div class="filter-item">
                    <label class="w-100px">품목명</label>
                    <input placeholder="품목명" name="item-name" />
                </div>
                <div class="filter-item">
                    <label class="w-100px">단가</label>
                    <input placeholder="단가" name="prod-price" />
                </div>
            </div>
            <div class="flex-box">
                <button class="blue-btn" type="button" onclick="onSubmit()">저장</button>
                <button class="gray-btn" type="button" onclick="onDelete()">삭제</button>
                <button class="gray-btn" type="reset">다시작성</button>
                <button class="gray-btn" type="button" onclick="onClose()">닫기</button>
            </div>
        </form>
        <script src="/scripts/items.js" type="module"></script>
        <script src="/scripts/common.js"></script>
        <script type="module">
            import { ItemDTO, updateItem, getItem, deleteItem } from "/scripts/api/items.js";
            window.updateItem = updateItem;
            window.ItemDTO = ItemDTO;
            window.getItem = getItem;
            window.deleteItem = deleteItem;

            const form2 = document.getElementById("item-update-form");
            const itemName = form2.querySelector("input[name='item-name']");
            const urlParams2 = new URLSearchParams(window.location.search);
            const code2 = urlParams2.get("code");
            getItem(code2).then((item) => {
                itemName.defaultValue = item.name;
            });
        </script>
        <script>
            async function onSubmit() {
                const form = document.getElementById("item-update-form");
                const formData = new FormData(form);
                const urlParams = new URLSearchParams(window.location.search);
                const PROD_CD = urlParams.get("PROD_CD");
                const itemName = formData.get("item-name");
                const prodPrice = formData.get("prod-price");
                const resp = await fetch('/api/product', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        'Key': {'COM_CODE': '80000', 'PROD_CD': PROD_CD },
                        'PROD_NM': itemName,
                        'PRICE': prodPrice,
                        'ACTIVE': true,
                    })
                });
                if (!resp.ok) {
                    alert('품목 수정 실패');
                    return;
                }
                opener.location.reload();
                self.close();
            }
            function onDelete() {
                const urlParams = new URLSearchParams(window.location.search);
                const code = urlParams.get("code");
                deleteItem(code);
                self.close();
            }
            function onClose() {
                self.close();
            }

            const urlParams = new URLSearchParams(window.location.search);
            const PROD_CD = urlParams.get("PROD_CD");
            const form = document.getElementById("item-update-form");
            const itemCodeInput = form.querySelector("input[name='item-code']");
            itemCodeInput.defaultValue = PROD_CD;


            fetch('/api/product' + `?type=get&COM_CODE=80000&PROD_CD=${PROD_CD}`, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json'},
            })
            .then(res => {
                return res.json();
            })
            .then(dto => {
                const prodNmInput = form.querySelector("input[name='item-name']");
                prodNmInput.defaultValue = dto.PROD_NM;
                const prodPriceInput = form.querySelector("input[name='prod-price']");
                prodPriceInput.defaultValue = dto.PRICE;
            });
        </script>
    </body>
    <footer></footer>
</html>
