@{
    ViewBag.Title = "Home Page";
}

<main>
    <erp-body>
        <div class="basic-title">■ 품목등록</div>
        <form class="filter-box" onsubmit="return onSubmit()" id="item-create-form">
            <div>
                <div class="filter-item">
                    <div class="flex-box">
                        <label class="w-100px">품목코드</label>
                        <input placeholder="품목코드" name="item-code" />
                    </div>
                </div>
                <div class="filter-item">
                    <label class="w-100px">품목명</label>
                    <input placeholder="품목명" name="item-name" />
                </div>
                <div class="filter-item">
                    <label class="w-100px">단가</label>
                    <input placeholder="단가" name="item-price" />
                </div>
            </div>
            <div class="flex-box">
                <button class="blue-btn" type="button" onclick="return onSubmit()">저장</button>
                <button class="gray-btn" type="reset">다시작성</button>
                <button class="gray-btn" type="button" onclick="onClose()">닫기</button>
            </div>
        </form>
        <script src="/scripts/items.js" type="module"></script>
        <script type="module">
            import { ItemDTO, createItem } from "/scripts/api/items.js";
            window.createItem = createItem;
            window.ItemDTO = ItemDTO;
        </script>
        <script>
            async function onSubmit() {
                const form = document.getElementById("item-create-form");
                const formData = new FormData(form);
                const itemCode = formData.get("item-code");
                const itemName = formData.get("item-name");
                const itemPrice = formData.get("item-price");
                const resp = await fetch("/api/product", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        "Key": { "COM_CODE": "80000", "PROD_CD": itemCode },
                        "PROD_NM": itemName,
                        "PRICE": itemPrice,
                        "ACTIVE": true,
                    })
                });
                if (!resp.ok) {
                    alert("품목 생성 실패");
                    return;
                }
                opener.location.reload();
                self.close();
            }
            function onClear() {
                const form = document.getElementById("item-create-form");
                form.reset();
            }
            function onClose() {
                self.close();
            }
        </script>
    </erp-body>
</main>