.basic-title {
    border: solid 1px gray;
    padding: 5px;
}

.filter-box {
    margin-top: 5px;
    display: grid;
    grid-template-rows: repeat(var(--row-count), 1fr);
    grid-template-columns: repeat(var(--col-count, 1), 1fr);
}

.filter-item {
    display: flex;
    background-color: #EEEEEE;
    border: 1px solid black;
    padding: 2.5px;
}

.filter-grid-footer {
    border: 1px solid black;
    padding: 2.5px;
}

.icon-dummy-box {
    border: 1px solid gray;
    background-color: gainsboro;
}

.blue-btn {
    background-color: #477eed;
    border: lightgray;
    color: white;
}

.gray-btn {
    background-color: #EEEEEE;
    border: gray;
}

.flex-box {
    display: flex;
}

.bordered-table {
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}

.bordered-table th, .bordered-table td {
    border: 1px solid gray;
}

.bordered-table th {
    background-color: #EEEEEE;
}

.w-100px {
    width: 100px;
}